.vcff-reports-entries {}
.vcff-reports-entries .col-select { width:40px; }
.vcff-reports-entries .col-icons { width:100px; }
.vcff-reports-entries .col-icons .dashicons { margin-right:4px; }
.vcff-reports-entries .col-date { width:160px; }